
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.accommodation
{
	justify-content: space-around;
	align-items: center;
	margin-left: 1em;
	padding: 2em;
	width: 75%;
	height: 40%;
	border-style: none;
	border-radius: 0.8em;
	background-color: #F2F2F2
}

.accommodation h1
{
	background-color: #F2F2F2;
	font-size: medium;
	font-weight: bold;
}

.accommodation  p
{
	background-color: #F2F2F2;
	font-size: small;
	font-weight: bold;
}

.section_cards_accommodation
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	justify-items: center;
	margin-bottom: 1em;
	border-style: none;
	border-radius: 0.8em;
	background-color: #F2F2F2
}

/* I can't resize the cards to make them equal */
.section_card_accommodation
{
	flex: 0  1 30%; /* To check */
	justify-content: space-between;
	justify-items: center;
	align-items: stretch;
	margin-top: 1em;	
	border-style: none;
	border-radius: 0.8em; /*  Not working on the bottom */
	background: #FFFFFF
}

.section_card_accommodation_image
{
	padding: 0.2em;
	width: 100%;
	height: 60%;
	object-fit: cover; /* In order to keeps the aspect and fill the given dimentions */
	border-style: none;
	border-radius: 0.8em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.section_card_accommodation_description
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	padding: 0.5em;
	width: 100%;
	height: 40%;
	border-style: none;
	border-radius: 0.8em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.section_card_accommodation_description h2
{
	padding-left: 0.2em;
	background-color: #FFFFFF;
	font-size: small;
	font-weight: bold;
}

.section_card_accommodation_description p
{
	font-size: x-small;
}

.stars_icon_accommodation
{
	display: flex;
	justify-content: flex-start;
	justify-items: baseline;
	margin-top: 1em;
	padding-left: 0.2em;
	width: 30%;
	background-color: #FFFFFF;
	color: #0065FC;
}

#stars_icon_accommodation_gray
{
	color: #F2F2F2;
}