/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Personalized font style */
/*The site's font is Raleway. We went through Google Font to easily import this font into the code. However, for the moment is not working */
@font-face {
	font-family: 'raleway';
	src: url(./fonts/Raleway-VariableFont_wght.ttf) format('truetype'),
		url(./fonts/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

:root {
	font-family: 'raleway', sans-serif;
	font-size: 16px;
}

/* Global aspect */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

/* Header aspect */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
}

.logo_booki {
	width: 6%;
	height: 50px;
	margin-left: 40px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 18%;
	height: 100px;
	margin-right: 40px;	
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover

/* I don't know hot to upper the overline */
	{
	text-decoration: overline;
	color: #0065FC
}

.search {
	width: 100%;
	height: 250px;
	padding: 2%;
}

.search h1 {
	height: 30px;
	padding: 10px;
	font-weight: bold;
}

.search p {
	height: 30px;
	padding: 10px;
	font-size: small;
}

/*  The border on the icon is not working */
#info {
	height: 16px;
	margin-right: 8px;
	padding: 8px;
	border-style: solid;
	border-radius: 16px;	
	color: #0065FC;
}

.search_form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 35%;
	height: 50px;
	padding: 10px;
}

/* Not the good writting if i use the class of the icon so I added an id */
#location	{
	width: 10%;
	height: 45px;
	padding: 16px;
	border-style: none;
	border-radius: 0.8em;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-color: #F2F2F2;
}

.search_bar {
	width: 60%;
	height: 45px;
	padding: 16px;
	border-style: solid;
	border-color: #F2F2F2;
	background-color: #FFFFFF;
}

/* I don't know how to format the placeholder */
.search_form::placeholder {
	color: #000;
	font-weight: bold;
}

.submit {
	width: 35%;
	height: 45px;
	border-style: none;
	border-radius: 12px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #0065FC;
	color: #FFFFFF;
	font-size: medium;
	font-weight: bold;
}

.filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	height: 60px;
	padding-top: 24px;
}

/*  The title is not bold enough */
.filter_title {
	padding: 10px;
	font-size: medium;
	font-weight: bold;
}

button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 35px;
	margin: 10px;
	padding-right: 10px;
	border-style: solid;
	border-radius: 24px;
	font-size: medium;
	font-weight: bold;
}

#economic,
#family_friendly,
#romantic,
#pets_friendly {
	width: 35px;
	height: 35px;
	margin-right: 15px;
	padding: 10px;
	border-style: none;
	border-radius: 24px;	
	background-color: #DEEBFF;
	color: #0065FC;
}

/* Main section aspect */
main {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	width: 100%;
	height: 550px;
	padding: 2%;	
}

.popular {
	justify-content: space-around;
	width: 33%;
	height: 500px;	
	padding: 2%;	
	border-style: none;
	border-radius: 16px;
	background-color: #F2F2F2
}

.section_title_popular {
	justify-content: space-between;
	background-color: #F2F2F2;
	font-size: large;
	font-weight: bold;
}

.section_card_popular {
	display: flex;
	justify-content: left;
	width: 100%;
	height: 100px;
	margin-top: 24px;
	border-style: none;
	border-radius: 16px;
	background: #FFFFFF
}

.section_card_popular_image {
	
	width: 40%;
	height: 100%;
	padding: 4px;
	object-fit: cover; /* In order to keeps the aspect and fill the given dimentions  */
	border-style: none;
	border-radius: 16px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.section_card_popular_description {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100%;
	padding: 16px;	
	border-style: none;
	border-radius: 16px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.section_card_popular_description h2 {
	font-size: small;
	font-weight: bold;
}

.section_card_popular_description p {
	margin-top: 8px;
	font-size: x-small;
}

.stars_icon_popular {
	display: flex;
	justify-content: flex-start;
	width: 30%;
	color: #0065FC;
}

#stars_icon_popular_gray {
	color: #F2F2F2;
}

.accommodation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 63%;
	height: 500px;
	padding: 2%;	
	border-style: none;
	border-radius: 16px;
	background-color: #F2F2F2
}

.accommodation h1 {
	padding-bottom: 15px;
	background-color: #F2F2F2;
	font-size: large;
	font-weight: bold;
}

.section_cards_accommodation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 400px;
	background-color: #F2F2F2
}

.section_card_accommodation {
	width: 30%;
	height: 180px;
	border-style: none;
	border-radius: 16px;
	background: #FFFFFF
}

.section_card_accommodation_image {
	width: 100%;
	height: 60%;
	padding: 4px;	
	object-fit: cover; /* In order to keeps the aspect and fill the given dimentions */
	border-style: none;
	border-radius: 16px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.section_card_accommodation_description {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 40%;
	padding: 8px;	
	border-style: none;
	border-radius: 16px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.section_card_accommodation_description h2 {
	font-size: small;
	font-weight: bold;
}

.section_card_accommodation_description p {
	margin-top: 8px;
	font-size: x-small;
}

.stars_icon_accommodation {
	display: flex;
	justify-content: flex-start;
	width: 30%;
	color: #0065FC;
}

#stars_icon_accommodation_gray {
	color: #F2F2F2;
}

.section_cards_accommodation a {
	text-decoration: none;
	color: black;
}

.section_card_accommodation a:hover  {
	color: #0065FC;
}

/*Add hoover */

.accommodation p {
	background-color: #F2F2F2;
	font-size: small;
	font-weight: bold;
}

/* Section aspect */
.activities {
	justify-content: space-around;
	width: 100%;
	height: 500px;
	padding: 2%;
}

.activities h1 {
	padding-left: 15px;
	padding-bottom: 15px;
	font-size: large;
	font-weight: bold;
}

.section_cards_activities {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 400px;
}

.section_card_activities_mini {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 22.5%;
	height: 380px;
	padding-bottom: 1.5%;
}

.section_card_activities1, .section_card_activities4 {
	width: 22.5%;
	height: 380px;
	box-shadow: 0 8px 4px #F2F2F2;
	border-style: none;
	border-radius: 16px;
	
}

.section_card_activities2, .section_card_activities6 {
	width: 100%;
	height: 50%;
	box-shadow: 0 8px 4px #F2F2F2;
	border-style: none;
	border-radius: 16px;
	
}

.section_card_activities3, .section_card_activities5 {
	width: 100%;
	height: 35%;
	box-shadow: 0 8px 4px #F2F2F2;
	border-style: none;
	border-radius: 16px;	
}

.section_card_activities_image {
	width: 100%;
	height: 90%;
	object-fit: cover; /* In order to keeps the aspect and fill the given dimentions */
	border-style: none;
	border-radius: 16px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.section_card_activities_image_mini {
	width: 100%;
	height: 75%;
	object-fit: cover; /* In order to keeps the aspect and fill the given dimentions */
	border-style: none;
	border-radius: 16px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.section_card_activities_description {
	width: 100%;
	height: 10%;
	padding: 10px;
	border-style: none;
	border-radius: 16px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.section_card_activities_description_mini {
	width: 100%;
	height: 25%;
	padding: 10px;
	border-style: none;
	border-radius: 16px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #000;
}

.section_card_activities_description h2 {
	font-weight: bold;
}

.section_cards_activities a {
	text-decoration: none;
	color: black;
}

.section_cards_activities a:hover  {
	color: #0065FC;
}

/* Footer aspect */
footer {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 150px;
	background-color: #F2F2F2;
	font-size: small;
}

.À_propos {
	margin-right: 150px;
	padding: 48px;
	background-color: #F2F2F2;
}

.Nos_hébergements {
	margin-right: 150px;
	padding: 48px;
	background-color: #F2F2F2;
}

.Assistance {
	padding: 48px;
	background-color: #F2F2F2;
}

.À_propos h3,
.Nos_hébergements h3,
.Assistance h3 {
	margin-bottom: 16px;
	background-color: #F2F2F2;
	font-weight: bold;
}

.À_propos ul,
.Nos_hébergements ul,
.Assistance ul {
	background-color: #F2F2F2;
}

.À_propos li,
.Nos_hébergements li,
.Assistance li {
	margin-bottom: 8px;
	background-color: #F2F2F2;
}