html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face 
{
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');  
	font-weight: normal;
	font-style: normal;
}

*
{
	font-family: 'Raleway';
	background-color: #FFFFFF;
	box-sizing: border-box;
}

.en_tête
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: auto;
}

.logo_booki
{
	margin-right: auto;
}

.menu
{
	display: flex;
	justify-content:space-between;
	align-items: center;
	height: auto;
	font-family: 'Raleway';
	font-size: small;
}

a
{
	text-decoration: none;
	color: black;
}

a:hover
{
	text-decoration: overline;
	color:#0065FC
}

.recherche
{
	font-family: 'Raleway';
}

.recherche h1
{
	font-size: large;
	font-weight: bold;
}

.recherche p
{
	font-size: small;
}

.barre
{
	font-weight: bold;
}

.envoyer
{
	background-color: #0065FC;
	color: #FFFFFF;
	font: bold;
}

.filtre
{
	display: flex;
	justify-content: left;
	align-content: center;
	font-weight: bold;
}

.principal
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	font-family: 'Raleway';
}

.Le_plus_populaires
{
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
}

.cardpop
{
	background: #FFFFFF
}

.Hébergement
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content:center ;
	background-color: #F2F2F2;
}

.cardheb
{
	background: #FFFFFF
}

.Activités
{
	font-family: 'Raleway';
}

.pied_de_page
{
	display: flex;
	justify-content: space-between;
	font-family: 'Raleway';
}

